body {
	background-color:#b366ff;

font-family: 'Roboto', sans-serif;
}

h1 {
	font-size: 48px;

	}
img {
	display: block;
	height: 250px;
	width: auto;
}

#title {
	background: #FF0066;
	width: 600px;
	border-radius;15px;

}

#main {
background:  white;
width: 700px;
padding-left: 10px;
border-top: 10pt red;
border-radius;5px;
}



 











